/* General styles */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111111;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #151515;
    padding: 20px 0px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #00aaff;
    margin: 0;
    padding-left: 20px;
    cursor: default;
}

nav {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

main.theatre-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    max-height: 100% !important;
    max-width: 100% !important;
    overflow: auto;
    background-color: #111111;
    z-index: 9999;
    padding-top: 80px; /* to ensure player is visible below the header */
}

.center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rating {
    margin-top: 8px;
    margin-bottom: 8px;
}

.fields {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: #1E1E1E;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
}

input {
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    outline: none;
    transition: border-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

input:focus {
    border-color: #00aaff;
    transform: scale(1.05);
}

.hidden {
    display: none;
}

.player-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: #1E1E1E;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#placeholder {
    font-size: 1.5em;
    color: #777777;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: #00aaff;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

/* Button Styles */
button {
    padding: 15px 30px;
    border: none;
    background-color: #1E1E1E;
    color: #ffffff;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

button.active {
    background-color: #0066cc;
    transform: scale(1.05);
}

button:not(.active):hover {
    background-color: #333333;
    transform: scale(1.05);
}

/* Watch History */
#watchHistory {
    width: 100%;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.separate {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#clearHistory {
    cursor: pointer;
}

#watchHistory h2 {
    margin-top: 0;
}

#historyList {
    list-style: none;
    padding: 0;
}

#historyList li {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222222;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#historyList li:hover {
    background: #333333;
}

.delete-history-item {
    background-color: #444444;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 2px 8px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-history-item:hover {
    background-color: #ff0000;
}

#backToPlayerDiv {
    align-items: normal;
    width: calc(80% + 30px);
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px 20px 20px;
}

.search-container h1 {
    color: #1E90FF;
}

#searchInput {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    border-color: #1E90FF;
}

.search-results {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 60vh;
    overflow-y: auto;
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: #1E1E1E;
    padding: 10px;
}

.search-result-item {
    background-color: #1E1E1E;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    transition: background-color 0.3s ease;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.search-result-item:hover {
    background-color: #333333;
}

.search-result-item a {
    color: #1E90FF;
    text-decoration: none;
}

.search-result-item a:hover {
    text-decoration: underline;
}

.search-result-item-content {
    display: flex;
    gap: 10px;
}

.poster {
    height: 132px;
    width: 89.1px;
    border-radius: 8px;
    flex-shrink: 0;
}

/* Highlighting search terms */
.highlight {
    background-color: #0066cc;
    padding: 2px 4px;
    border-radius: 3px;
    color: #ffffff;
}

/* Custom dropdown styling */
.fields select {
    appearance: none;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #333333;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.fields select:focus {
    border-color: #00aaff;
    transform: scale(1.05);
}

.fields select:hover {
    background-color: #444444;
}
